HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# ==========以上為黑名單配置設定==========

# ==========以下為白名單配置設定==========

*
!*/

# pom.xml
!/pom.xml

# conf : .properties .xml
!conf/**

# src : CourseWork source code
!src/**

# track this file
!.gitignore

# README.md
!README.md
